<div class="row">
  <div class="col-lg-12">
    <app-base></app-base>
  </div>

  <div class="col-lg-12">
    <div class="row bottom-well">
      <label>Ready for Order Scan</label>
      <input type="text" autofocus="autofocus" id="store-search-query"
        [(ngModel)]="scanOrder" (keydown)="input_enter($event)"
        class="form-control search-box" placeholder="Scan">
    </div>
  </div>
  <!-- ng-model="stores.setup.search" -->
  <div class="col-lg-12">
    <div class="row bottom-well">
      <div class="pack_image">
        <img ng-show="current_state == 'scanpack.rfo'" src="/assets/images/RFO_background.png" alt="RFO background"/>
    
        <!-- <h3 ng-show="current_state == 'scanpack.rfp.recording'">Please create the shipping label, adhere it to the package,
          and scan the tracking number to continue.</h3>
    
        <h3 ng-show="current_state == 'scanpack.rfp.verifying'">Please scan the shipping label.</h3>
    
        <h3 ng-show="current_state == 'scanpack.rfp.no_tracking_info'">Your Scan & Pack settings call for shipping label
          verification but no tracking information was imported with this order. Please scan your confirmation code or press
          enter to continue.</h3>
    
        <h3 ng-show="current_state == 'scanpack.rfp.no_match'">The tracking number on the shipping label you just scanned
          does not match the tracking number imported with that order. Please verify that you have the correct shipping
          label and try your scan again. If you are aware of the issue and would like to proceed with the next order please
          scan your confirmation code to continue.</h3>
    
        <h3 ng-show="current_state == 'scanpack.rfp.confirmation.order_edit'">Scan Confirmation Code with 'Order edit'
          permission</h3>
    
        <h3 ng-show="current_state == 'scanpack.rfp.confirmation.product_edit'">Scan Confirmation Code with 'Product edit'
          permission</h3>
    
        <h3 ng-show="current_state == 'scanpack.rfp.confirmation.cos'">Scan Confirmation Code with 'Order edit'
          permission</h3>
     -->
      </div>
    </div>
  </div>
</div>