<!-- <div class="col-lg-10 col-sm-10 general-settings"> -->
  <div class="col-lg-12 col-xs-12">
    <h3>Order Export Options</h3>
    
    <div class="form-horizontal general-settings-form">
      <fieldset>
        <div class="form-group">
          <div class="row">
          <label class="control-label col-lg-3 col-sm-3">Auto Email Export</label>

            <div class="controls col-sm-2 form-inline">
              <div class="row toggle-switch">
                <span placeholder="onLabel"></span>
                <label class="switch">
                  <input class="switchon" type="checkbox"
                  name="export_settings.single.auto_email_export"
                  [(ngModel)]="export_settings.single.auto_email_export"
                  (click)="update_export_settings()">
                  <span class="slider round"></span>
                </label>
                <span placeholder="offLabel"></span>
              </div>
              <!-- <div toggle-switch [(ngModel)]="export_settings.single.auto_email_export"
                   (click)="update_export_settings()">
              </div> -->
            </div>
          </div>
            <div *ngIf="export_settings.single.auto_email_export=='1'">
            </div>
            <div class="form-group">
              <div class="controls col-lg-9 col-sm-offset-3 col-sm-5">
                <input type="text" class="form-control input-style" [(ngModel)]="export_settings.single.order_export_email"
                       placeholder="Email address" (blur)="update_export_settings()"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Time for sending order export email</label>

              <div class="controls col-sm-7">
                <ngb-timepicker [(ngModel)]="time" [meridian]="true" (change)="show_button=true"></ngb-timepicker>
                <!-- <timepicker [(ngModel)]="export_settings.single.time_to_send_export_email" (change)="show_button=true" show-meridian="true" style="display: inline-block;vertical-align: middle;"> -->
                <!-- </timepicker> -->
                <span style="display: inline-block;vertical-align: middle;padding-left: 13px;">
                  Current Time: {{export_settings.current_time}}
                  <!-- <i class="groove-fa fa fa-clock-o" popover-trigger="mouseenter" groov-popover="{{'To adjust the time zone please <a (click)=scrollup() href=#/settings/system/general> click here. </a>'}}"></i> -->
                </span>
              </div>

            </div>
            <div class="row" *ngIf="show_button">
              <div class="col-sm-4 col-sm-offset-3">
                <button class="modal-save-button" (click)="update_export_settings()">Update</button>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">Send Email On</label>

              <div class="controls col-sm-9 form-inline">
                <label class="checkbox col-sm-2">
                  <input type="checkbox" [(ngModel)]="export_settings.single.send_export_email_on_mon"
                         (change)="update_export_settings()"> mon
                </label>
                <label class="checkbox col-sm-2">
                  <input type="checkbox" [(ngModel)]="export_settings.single.send_export_email_on_tue"
                         (change)="update_export_settings()"> tue
                </label>
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="export_settings.single.send_export_email_on_wed"
                         (change)="update_export_settings()"> wed
                </label>
              </div>
              <div class="controls col-sm-9 col-sm-offset-3 form-inline">
                <label class="checkbox col-sm-2">
                  <input type="checkbox" [(ngModel)]="export_settings.single.send_export_email_on_thu"
                         (change)="update_export_settings()"> thu
                </label>
                <label class="checkbox col-sm-2">
                  <input type="checkbox" [(ngModel)]="export_settings.single.send_export_email_on_fri"
                         (change)="update_export_settings()"> fri
                </label>
                <label class="checkbox col-sm-2">
                  <input type="checkbox" [(ngModel)]="export_settings.single.send_export_email_on_sat"
                         (change)="update_export_settings()"> sat
                </label>
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="export_settings.single.send_export_email_on_sun"
                         (change)="update_export_settings()"> sun
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3">The email will include all orders scanned </label>

              <div class="controls col-sm-3 well-main " ngbDropdown>
                <button class="groove-button label label-default" id="calendarDropdown" ng-class="{'label-success':export_settings.single.export_orders_option=='on_same_day',
                  'label-warning':export_settings.single.export_orders_option=='since_last_export'}" ngbDropdownToggle>
                  <span
                    *ngIf="export_settings.single.export_orders_option=='on_same_day'">on the same calendar day</span>
                  <span
                    *ngIf="export_settings.single.export_orders_option=='since_last_export'">since the last export</span>
                </button>
                <div role="menu" aria-labelledby="calendarDropdown" ngbDropdownMenu>
                  <ul class="list-unstyled components">
                    <li><a class="dropdown-item" (click)="change_option('export_orders_option','on_same_day')">on the
                      same calendar day</a></li>
                    <li><a class="dropdown-item" (click)="change_option('export_orders_option','since_last_export')">since
                      the last export</a></li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          <div class="form-group">
            <label class="control-label col-sm-3">Order export type </label>

            <div class="controls col-sm-3 form-inline" ngbDropdown>
              <button class="groove-button label label-default" id="itemDropdown" ng-class="{
                                'label-warning':export_settings.single.order_export_type=='order_with_serial_lot',
                                'label-success':export_settings.single.order_export_type=='include_all'}" ngbDropdownToggle>
                <span
                  *ngIf="export_settings.single.order_export_type=='do_not_include'">Do not include order items</span>
                <span *ngIf="export_settings.single.order_export_type=='order_with_serial_lot'">Only include order items with Serial/Lot numbers</span>
                <span *ngIf="export_settings.single.order_export_type=='include_all'">Include all order items</span>
              </button>
              <div role="menu" aria-labelledby="itemDropdown" ngbDropdownMenu>
                <ul class="list-unstyled components">
                  <li><a class="dropdown-item" (click)="change_option('order_export_type','do_not_include')">Do not
                    include order items</a></li>
                  <li><a class="dropdown-item" (click)="change_option('order_export_type','order_with_serial_lot')">Only
                    include order items with Serial/Lot numbers</a></li>
                  <li><a class="dropdown-item" (click)="change_option('order_export_type','include_all')">Include all
                    order items</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label">Start Date</label>

            <div class="container-fluid form-horizontal">
              <div class="row">
                <div class="control-label timepicker-label col-md-8">
                  <p class=" input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
                      [(ngModel)]="exports.start.time" is-open="exports.start.open" ng-required="true"
                      close-text="Close"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                          (click)="open_picker($event,exports.start)">
                          <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                      </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label">End Date</label>

            <div class="container-fluid form-horizontal">
              <div class="row">
                <div class="control-label timepicker-label col-md-8">
                  <p class=" input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" [(ngModel)]="exports.end.time"
                      is-open="exports.end.open" ng-required="true" close-text="Close"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                          (click)="open_picker($event,exports.end)">
                          <i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2 text-center col-sm-offset-4">
            <button ng_click="download_csv('exports')" class="modal-save-button">Export Now</button>
          </div>
        </fieldset>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>