<div class="row">
  <div class="col-md-6">
    <legend>Shipstation Credentials</legend>
    <div class="form-group">
      <label class="control-label col-md-4">API Key</label>
      <div class="controls col-md-8">
        <input name="api_key" xs-input-sync ng-model="stores.single.api_key" type="text" (blur)="update_single_store(true)"
               class="form-control input-style" value="" placeholder="paste API Key here" required/>
        <i class="fas fa-check right-icon" ng-if= "stores.single.api_key.length == 32 && stores.single.api_key!= null"></i>
        <!-- <i class="fas fa-exclamation-triangle icon-remove" popover-trigger="mouseenter"
             groov-popover="The details you have entered may not be valid. Please ensure the entire string is included and no extra characters or spaces are entered before or after. In other words, we need the whole key and pass and nothing but the key and pass." ng-if= "stores.single.api_key.length != 32 && stores.single.api_key!= null"></i> -->
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-4">API Secret</label>

      <div class="controls col-md-8">
        <input name="api_secret" xs-input-sync ng-model="stores.single.api_secret" type="text"
               (blur)="update_single_store(true)" class="form-control input-style" value="" placeholder="paste API Secret here" required/>
        <!-- <i class="fas fa-check right-icon " ng-if= "stores.single.api_secret.length == 32 && stores.single.api_secret!= null"></i> -->
        <!-- <i class="fas fa-exclamation-triangle icon-remove" popover-trigger="mouseenter"
             groov-popover="The details you have entered may not be valid. Please ensure the entire string is included and no extra characters or spaces are entered before or after. In other words, we need the whole key and pass and nothing but the key and pass." ng-if= "stores.single.api_secret.length != 32 && stores.single.api_secret!= null"></i> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <legend>Import Orders with following statuses</legend>
    <div class="form-group">
      <label class="control-label col-md-4">Awaiting Shipment</label>
      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.shall_import_awaiting_shipment"
             groov-click="fix_import_dates();update_single_store(true)"></div>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
             groov-popover="Orders with the statuses enabled here will be imported during each import. Existing orders will be recognized by order number and skipped. The date range included in the import can be extended by using the Deep Import option in the Import Orders popover.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            If all statuses are disabled here only orders with the GP Ready tag will be imported, otherwise the tagged orders will be imported in addition to orders of the enabled status."></i> -->
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-4">Pending Fulfillment</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.shall_import_pending_fulfillment" groov-click="fix_import_dates();update_single_store(true)"></div>
   
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Shipped</label>
      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.shall_import_shipped" groov-click="fix_import_dates();update_single_store(true)"></div>
      </div>
    </div>

    <div class="form-group" ng-show="false">
      <label class="control-label col-md-4">Awaiting Payment GP Ready</label>
      <div class="controls col-md-8">
        <button class="btn btn-success" groov-click="shipstation_verify_awaiting(stores.single.id)">Test tags
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <legend>Import Options</legend>
    <div class="form-group">
      <label class="control-label col-md-4">Regular Import Range</label>

      <div class="controls col-md-8" dropdown>
        <button class="dropdown-toggle groove-button" style="text-transform: none;">
          <span>{{stores.single.regular_import_range}} day(s)</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="day in stores.single.import_days">
            <a class="dropdown-toggle" (click)="stores.single.regular_import_range=day; update_single_store(true)">{{day}}
              day(s)</a>
          </li>
        </ul>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="This setting allows you to choose how many days prior to the previous import GroovePacker should check when looking for orders during a regular import. A lower setting will reduce import times. This is particularly helpful when you are importing Shipped orders and here are hundreds or thousands of orders that match the status and date range.<br/> If you routinely place orders on hold for 3 days, then a setting of 4 days would be advisable as you would rarely have out of range orders. Orders that have been placed on hold for longer, and then changed to awaiting, will be outside of the Date range that is checked. These can be imported using the Deep import which looks back 7 days prior to the previous import or by using the GP Ready tag to import select orders."></i> -->
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Version 2 Import</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.regular_import_v2" groov-click="update_single_store(true)"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Generate Barcode from SKU</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.gen_barcode_from_sku" groov-click="update_single_store(true)"></div>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="If your Barcodes match your SKU, you can enable this option to have GroovePacker automatically generate Barcodes when new products are found during order imports."/> -->
      </div>
    </div>
     <div class="form-group" ng-if="stores.single.gen_barcode_from_sku == true">
      <div class="form-group">
      <label class="control-label col-md-4">Import UPC if available</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.import_upc" groov-click="update_single_store(true)"></div>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="If your products use a mix of internal barcodes which match the SKU and regular UPC barcodes which are associated with your products in your order manager, this option can be used to import the UPC when it exists. When no UPC is found it will be generated from the SKU. If you do not have any UPC codes associated with your items in your order manager please leave this disabled to increase import speed."/> -->
      </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">On Demand Import</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.on_demand_import" groov-click="update_single_store(true)"></div>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="When enabled, scanned orders that have not been previously imported will be queued for import in the background while the packer continues to scan other orders."/> -->
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">On Demand Import(v2)</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.on_demand_import_v2" groov-click="update_single_store(true)"></div>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="When enabled, scanned orders that have not been previously imported will be queued for import in the background while the packer continues to scan other orders."/> -->
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">Allow duplicate order id</label>
      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.allow_duplicate_order" groov-click="update_single_store(true)"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4"></label>
      <div class="controls col-md-8">

        <button class="btn btn-success" confirm-click="Are you sure? This action will reset Last Import and Last Quick Import date to 24 hours ago." (click)="fix_import_dates()">Fix it</button>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="This action will reset 'Last import' and 'Last Quick Import' to 24 hours ago."/> -->

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4"></label>
      <div class="controls col-md-8">

        <button class="btn btn-success" ng-model="stores.single.download_ss_image" (click)="update_product_image()">Add Image to existing products</button>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="This action will reset 'Last import' and 'Last Quick Import' to 24 hours ago."/> -->

      </div>
    </div>


  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <legend>Import specific orders using a tag</legend>
    <div class="form-group">
      <label class="control-label col-md-4">{{stores.single.gp_ready_tag_name}}</label>

      <div class="controls col-md-8">
        <button class="btn btn-success" clip-copy="stores.single.gp_ready_tag_name" (click)="clipboard(stores.single.gp_ready_tag_name)">Copy to clipboard</button>
        <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter" groov-popover="The GP Ready Tag can be used to import or re-import (update) specific orders from ShipStation. Any order with the GP Ready tag will be imported to GroovePacker on the next import regardless of the order status or order date. Once imported, the GP Ready tag will be removed.
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          For additional confirmation you can also create a GP Imported tag. After the order is successfully imported the GP Ready tag will be replaced with a GP Imported tag. Both tags need to be created once in ShipStation before they can be used by GroovePacker.
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          The tags can be copied to the clipboard and pasted when you create the tag in ShipStation in ensure an exact match. Once you've created the tags you can use the Test Tag button to verify they are found."></i>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">{{stores.single.gp_imported_tag_name}}</label>

      <div class="controls col-md-8">
        <button class="btn btn-success" clip-copy="stores.single.gp_imported_tag_name" clip-click="alert('clicked')" (click)="clipboard(stores.single.gp_imported_tag_name)">
          Copy to clipboard
        </button>

        <button class="btn btn-success pull-right" (click)="shipstation_verify_tags(stores.single.id)">Test tags
        </button>
        <div class="alert"
             ng-class="{'alert-success':verification_tags.verification_result, 'alert-danger': verification_tags.verification_result == false}"
             style="margin-top: 10px; margin-bottom: 0px;">
          <p>{{verification_tags.message}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <legend>Import Notes</legend>
    <div class="form-group">
      <label class="control-label col-md-4">Import Internal Notes</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.shall_import_internal_notes"
             groov-click="update_single_store(true)"></div>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="Notes enabled here will be imported along with the orders.<br/><br/>You should also turn on the <strong>Show Internal Notes</strong> and <strong>Show Customer Notes</strong> in the Scan Pack settings to view the notes while scanning and packing."></i> -->
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-4">Import Customer Notes</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.shall_import_customer_notes"
             groov-click="update_single_store(true)"></div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-4">ShipStation Scan Pack Ship</label>

      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.use_chrome_extention"
             groov-click="use_chrome_extention()"></div>
        <!-- <i class="pull-right icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
           groov-popover="If the packer will be printing a shipping label after packing each order, you can enable this switch to display the order in ShipStation once packing completes. The Scan Pack Ship extension will need to be installed in your chrome browser. You can download this extension here. "></i> -->
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4"></label>

      <div class="controls col-md-8">
        <b>Note: </b>Install chrome extension by clicking <a href="https://chrome.google.com/webstore/detail/groovepacker-shipstation/fpknchejjhppoeflipfekheacbgalbpj?hl=en-US&gl=US", target="_blank">here</a>
      </div>
    </div>

    <div class="form-group" ng-if="stores.single.use_chrome_extention == true">
      <label class="control-label col-md-4">Auto Return to Groovepacker</label>
      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.switch_back_button"
             groov-click="switch_back_button()"></div>
      </div>
    </div>

    <div class="form-group" ng-if="stores.single.switch_back_button == true && stores.single.use_chrome_extention == true">
      <label class="control-label col-md-4">Return to Orders list</label>
      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.return_to_order"
             groov-click="update_single_store(true)"></div>
      </div>
    </div>

    <div class="form-group" ng-if="stores.single.use_chrome_extention == true">
      <label class="control-label col-md-4">Auto-click Create label</label>
      <div class="controls col-md-8">
        <div toggle-switch ng-model="stores.single.auto_click_create_label"
             groov-click="auto_click_create_label()"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <legend>Export Products</legend>
    <div class="form-group">
      <label class="control-label col-md-4">Export Active Products</label>

      <div class="controls col-md-8">
        <button class="btn btn-success" (click)="export_active_products()">Export</button>
      </div>
    </div>
  </div>
</div>
<textarea id="clipboard" type="hidden" style="opacity: 0;"></textarea>