<div class="col-lg-10 col-md-10">
  <h3 class="col-xs-12">Order Exceptions</h3>

  <div class="col-xs-12 row">
    <div class="form-group col-lg-6 col-sm-6">
      <label class="control-label">Start Date</label>

      <div class="container-fluid form-horizontal">
        <div class="row">
          <div class="control-label timepicker-label col-md-8">
            <p class=" input-group">
              <!-- <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field> -->
              <!-- <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" [(ngModel)]="exception.start.time"
                is-open="exception.start.open" ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                      (click)="open_picker($event,exception.start)"><i
                      class="glyphicon glyphicon-calendar"></i></button>
                </span> -->
            </p>
          </div>

          <div class="controls col-md-4">
            <ngb-timepicker [(ngModel)]="time" [meridian]="true" (change)="show_button=true"></ngb-timepicker>
            <!-- <timepicker [(ngModel)]="exception.start.time" show-meridian="true"></timepicker> -->
          </div>
        </div>

      </div>
    </div>
    <div class="form-group col-lg-6 col-sm-6">
      <label class="control-label">End Date</label>

      <div class="container-fluid form-horizontal">
        <div class="row">
          <div class="control-label timepicker-label col-md-8">
            <p class=" input-group">
              <!-- <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field> -->
              <!-- <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" [(ngModel)]="exception.end.time"
                     is-open="exception.end.open" ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            (click)="open_picker($event,exception.end)"><i
                                      class="glyphicon glyphicon-calendar"></i></button>
                                </span> -->
            </p>
          </div>

          <div class="controls col-md-4">
            <ngb-timepicker [(ngModel)]="time" [meridian]="true" (change)="show_button=true"></ngb-timepicker>
            <!-- <timepicker [(ngModel)]="exception.end.time" show-meridian="true"></timepicker> -->
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-2 text-center col-sm-offset-4">
      <button ng_click="download_csv('exception')" class="modal-save-button">Download</button>
    </div>
  </div>
</div>
