.container-well{ 
    background-image: url('src/assets/images/background_large.png');
    height: 100%;
}
  .container-fluid{
    margin-right: 50px;
    margin-left: 50px;
    height: 100%;
    width: auto;
    background-image: url('src/assets/images/background_layer.png');
    /* background-image: url('src/assets/images/bg-4.png'); */
    /* background-image: url('src/assets/images/brush_metal_bkg_large.png'); */
  }