<div>

      <div class="col-lg-10 col-sm-10 general-settings">
        <!-- Payment Cards -->
        <div class="row">
          <div class="col-xs-12">
            <h3>Card Details</h3>
            <fieldset>
              <table class="table table-hover table-bordered table-striped table-condensed">
                <thead>
                <tr>
                  <th>
                    <div>Card Number</div>
                  </th>
                  <th>
                    <div>Expiry Month</div>
                  </th>
                  <th>
                    <div>Expiry Year</div>
                  </th>
                  <th>
                    <div>Card Type</div>
                  </th>
                  <th>
                    <div>Default</div>
                  </th>
                </tr>
                </thead>
                <tbody *ngIf="show_table_data == 1">
                <tr ng-repeat="payment in payments.list" ng-click="setSelected(payment.id)"
                    ng-class="{selected: payment.checked}">
                  <td>x-{{payment.last4}}</td>
                  <td ng-bind="payment.exp_month"></td>
                  <td ng-bind="payment.exp_year"></td>
                  <td ng-bind="payment.brand"></td>
                  <td><span class="label label-success" *ngIf="payment.id == payments.single"> Default</span></td>
                </tr>
                </tbody>
              </table>

              <button class="modal-save-button" (click)="addNewCard(addCardModal)">Add a new card</button>
              <button ng-click="setAsDefault()" class="modal-save-button">Make it default</button>
              <button ng-click="deleteCard()" class="modal-remove-button">Remove selected</button>
            </fieldset>
          </div>
        </div>
  </div>

  <ng-template #addCardModal>
      <div class="modal-header">
        <button type="button" class="close-btn" ng-click="ok()"><i class="glyphicon glyphicon-remove"></i></button>
        <div class="modal-title">
          <span>Add a New Card</span>
        </div>
      </div>
      <form name="payments_form" role="form" class="form-validation" novalidate>
        <div class="modal-body">
          <div class="container-fluid form-horizontal">
            <div><br></div>
            <div class="form-group">
              <label class="control-label col-md-3">Card Number </label>
    
              <div class="controls col-md-6"
                   ng-class="{'has-error' : payments_form.number.$invalid && (!payments_form.number.$pristine || submitted) }">
                <input class="form-control input-style" ng-model="payments.single.last4" name="number" type="text"
                       required/>
                <span class="has-error help-block"
                      *ngIf="payments_form.number.$invalid && (!payments_form.number.$pristine || submitted)">Card number is required.
                </span>
              </div>
            </div>
    
            <div class="form-group">
              <label class="control-label col-md-3">Expiry Month </label>
    
              <div class="controls col-md-6"
                   ng-class="{'has-error' : payments_form.exp_month.$invalid && (!payments_form.exp_month.$pristine || submitted) }">
                <input class="form-control input-style" ng-model="payments.single.exp_month" name="exp_month" type="text"
                       placeholder="MM" required/>
                <span class="has-error help-block"
                      *ngIf="payments_form.exp_month.$invalid && (!payments_form.exp_month.$pristine || submitted)">Expiry month is required.
                </span>
              </div>
            </div>
    
            <div class="form-group">
              <label class="control-label col-md-3">Expiry Year </label>
    
              <div class="controls col-md-6"
                   ng-class="{'has-error' : payments_form.exp_year.$invalid && (!payments_form.exp_year.$pristine || submitted) }">
                <input class="form-control input-style" ng-model="payments.single.exp_year" name="exp_year" type="text"
                       placeholder="YYYY" required/>
                <span class="has-error help-block"
                      *ngIf="payments_form.exp_year.$invalid && (!payments_form.exp_year.$pristine || submitted)">Expiry year is required.
                </span>
              </div>
            </div>
    
            <div class="form-group">
              <label class="control-label col-md-3">CVC </label>
    
              <div class="controls col-md-6"
                   ng-class="{'has-error' : payments_form.cvc.$invalid && (!payments_form.cvc.$pristine || submitted) }">
                <input class="form-control input-style" ng-model="payments.single.cvc" name="cvc" type="text" required/>
                <span class="has-error help-block"
                      *ngIf="payments_form.cvc.$invalid && (!payments_form.cvc.$pristine || submitted)">CVC is required.
                </span>
              </div>
            </div>
          </div>
    
        </div>
        <div class="modal-footer">
          <button ng-click="addThisCard(payments_form.$valid)" class="modal-save-button" translate>Add This Card</button>
          <button ng-click="cancel()" class="modal-cancel-button" translate>modal.cancel</button>
        </div>
      </form>
  </ng-template>
</div>