<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-12">
      <app-base></app-base>
    </div>
    <div class="row" *ngIf="data.data.order.next_item.record_serial">
      <div class="alert alert-info">
        <h4>Serial number will be needed for this product</h4>
      </div>
    </div>
    <div class="col-lg-12 row form-group">
      <div class="icons-list-style">
        <div class="col-lg-3 col-md-3 text-center row" id='awaiting-order'>
          <div id='awaiting-order-count'>
            {{data.awaiting}}
          </div>
          <span *ngIf="data.awaiting == 1">Awaiting Order</span>
          <span *ngIf="data.awaiting != 1">Awaiting Orders</span>
          <!-- <ng-pluralize count="data.raw.awaiting"
        when="{'1': 'Awaiting Order',
               'other': 'Awaiting Orders'}">
      </ng-pluralize><br> -->
          <strong>Remaining</strong>
        </div>
        <div class="col-lg-1  col-md-1 row form-group" (click)="reset_order()">
          <i class="fa fa-refresh"></i>

          <div class="icons-style">Restart</div>
        </div>
        <div class="col-lg-1 col-md-1 row pull-left form-group" ng-hide="true">
          <i class="fa fa-pause"></i>

          <div class="icons-style">
            Pause
          </div>
        </div>
        <div class="col-lg-1 col-md-1 pull-left row form-group" (click)="add_note()">
          <i class="fa fa-list-alt "></i>

          <div class="icons-style">Add Note</div>
        </div>

        <div class="col-lg-1 col-md-1 pull-right col-md-pull-1 col-lg-pull-1 row form-group" (click)="generate_box_packing_slip()"
          *ngIf="general_settings.single.multi_box_shipments">
          <i class="glyphicon glyphicon-print"></i>

          <div class="icons-style">Print</div>
        </div>
      </div>
    </div>
    <div class="confirmation-notes">
      <div class="row alert alert-note"
        ng-show="data.scan_pack_settings.show_internal_notes && data.order.notes_internal.length && !show_internal_notes">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="show_internal_notes=true">
          <span aria-hidden="true">&times;</span></button>
        <h4>{{data.data.order.notes_internal}}</h4>
      </div>
      <div class="row alert alert-note" ng-show="data.order.notes_toPacker.length && !show_packer_notes">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
          (click)="show_packer_notes=true"><span aria-hidden="true">&times;</span></button>
        <h4>{{data.data.order.notes_toPacker}}</h4>
      </div>
      <div class="row alert alert-note"
        ng-show="data.scan_pack_settings.show_customer_notes && data.order.customer_comments.length && !show_customer_notes">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="show_customer_notes=true">
          <span aria-hidden="true">&times;</span></button>
        <h4>{{data.data.order.customer_comments}}</h4>
      </div>
    </div>
    <div class="row scanpack-bottom-well">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="scanpack-well">
            <div class="well-heading">
              <span>{{ data.data.order.scanning_count.unscanned }}Items Left</span>
            </div>
            <!-- | limitTo: 10 -->
            <div class="row" *ngFor="let unscanned_item of data.data.order.unscanned_items">
              <div class="media">
                <a class="pull-left" href="">
                  <img class="media-object" width="64px" />
                  <!-- ng-src="{{ unscanned_item.images[0].image }}" -->
                  <span *ngIf="unscanned_item.product_type =='individual'"><img src="/assets/images/top.png"></span>
                </a>
                <div class="media-body">
                  <span class="item-count pull-right">X {{unscanned_item.qty_remaining}}</span>
                  <!-- tooltip="{{unscanned_item.name}}" -->
                  <!-- | cut:false:(90)  -->
                  <span class="media-heading pack_link"
                    (click)="product_details(unscanned_item.product_id)">{{ unscanned_item.name }}<br />
                    {{ unscanned_item.sku }}</span>
                </div>
              </div>
              <div class="sub-products" *ngIf="unscanned_item.product_type =='individual'">
                <div class="sub-products-position">
                  <div class="media" *ngFor='let child_item of unscanned_item.child_items'>
                    <a class="pull-left" href="">
                      <img class="media-object" width="44px" />
                      <!-- ng-src="{{ child_item.images[0].image }}" -->
                    </a>

                    <div class="media-body">
                      <span class="item-count pull-right">X {{child_item.qty_remaining}}</span>
                      <span class="media-heading pack_link" (click)="product_details(child_item.product_id)">
                        {{ child_item.name }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sub-products-bottom" *ngIf="unscanned_item.product_type =='individual'">
                <img src="/assets/images/bottom.png">
              </div>
              <hr class="scanpack-hr" width="95%">
              <hr class="scanpack-hr-border" width="96.5%">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="packing-well" style="margin-top: 0px;">
            <span class="pack_link" (click)="order_details(data.data.order.id)">
              Now Packing #{{ data.data.order.increment_id}}</span>
          </div>

          <div class="scanpack-image-well">
            <h3 *ngIf="data.data.order.next_item.scanned_qty ==0">Please scan this product next</h3>

            <h3 *ngIf="data.data.order.next_item.scanned_qty !=0">{{data.data.order.next_item.scanned_qty}} of {{
          data.data.order.next_item.qty }} have been scanned</h3>

            <div class="text-left">
              <h5>
                &nbsp;
                <span class="pull-left">
                  <!-- <strong tooltip="{{data.data.order.next_item.name}}"> -->
                  {{data.data.order.next_item.name }}
                  <!-- | limitTo:45 -->
                  <!-- </strong> -->
                </span>
                <span class="pull-right" ng-class="{pointer: scan_pack.settings.enable_click_sku}"
                  (click)="autoscan_barcode()"><strong>
                    {{data.data.order.next_item.sku}}
                  </strong></span><br /><br />
                <span *ngIf="data.data.scan_pack_settings.display_location==true" class="pull-right">
                  <h4>
                    {{data.data.order.next_item.location }}
                    <!-- | cut:true:25:'...' -->
                  </h4>
                </span>
              </h5>
              <h4>{{data.data.order.next_item.qty_remaining}} more to scan.</h4>

            </div>
            <div class="alert alert-info" *ngIf="data.data.order.next_item.skippable">This product can be skipped, scan
              the
              skip code to skip
            </div>

            <div class="scan_product_images">
              <div class="scan_product_times img-rounded" *ngIf="data.data.order.next_item.qty > 1">
                <div class="text-center pull-left"><i class="glyphicon glyphicon-remove"></i><br />TIMES</div>
                <div class="times_number pull-right">
                  {{data.data.order.next_item.qty}}
                </div>
              </div>
              <div (click)="item_image_index = item_image_index + 1"
                ng-if="item_image_index < data.data.order.next_item.images.length - 1" class="nav-right img-circle"><i
                  class="glyphicon glyphicon-step-forward"></i></div>
              <div (click)="item_image_index = item_image_index - 1" ng-show="item_image_index > 0"
                class="nav-left img-circle"><i class="glyphicon glyphicon-step-backward"></i></div>
              <span class="img-style-helper"></span>
              <img *ngFor="let image of data.data.order.next_item.images" ng-show="item_image_index == $index"
                class="img-style" />
              <!-- ng-src="{{ image.image }}" -->

              <div style="background: rgba(19, 45, 19, 0.40)" class="special_product_instructions" ng-show="data.order.next_item.custom_product_display_1==true || data.order.next_item.custom_product_display_2==true || data.order.next_item.custom_product_display_3==true ||
          data.data.order.next_item.instruction.length">

                <div *ngIf="data.data.order.next_item.instruction">
                  <h4>Special instruction for the product:</h4>
                  <h3> {{data.data.order.next_item.instruction}}</h3>
                </div>

                <div
                  *ngIf="data.data.order.next_item.custom_product_1 && data.data.order.next_item.custom_product_display_1==true">
                  <h4>Custom Product Field 1:</h4>
                  <h3> {{data.data.order.next_item.custom_product_1}}</h3>
                </div>
                <div
                  *ngIf="data.data.order.next_item.custom_product_2 && data.data.order.next_item.custom_product_display_2==true">
                  <h4>Custom Product Field 2:</h4>
                  <h3> {{data.data.order.next_item.custom_product_2}}</h3>
                </div>
                <div
                  *ngIf="data.data.order.next_item.custom_product_3 && data.data.order.next_item.custom_product_display_3==true">
                  <h4>Custom Product Field 3:</h4>
                  <h3> {{data.data.order.next_item.custom_product_3}}</h3>
                </div>
              </div>
            </div>

          </div>
          <div class="product-scan-outside-well">
            <span class="indicator-ready pull-left"></span>

            <div class="product-scan-well">

              <span class="col-lg-1 col-md-1  glyphicon glyphicon-barcode barcode-icon"></span>
              <span class="col-lg-11 col-md-11 product-scan-status">
                <input type="text" ng-model="data.input" ng-keydown="input_enter($event)" autofocus="autofocus"
                  tabindex="1" class="search-box product-scan-btn text-center" id='ready_product_scan'
                  placeholder="Ready For Product Scan" />
              </span>
            </div>
          </div>
          <!--
      <div class="scan-details-well">
          <div class="scan-details">
              <div class="col-lg-7 col-md-7 scan-details-left">
                  <span>Perfect Scans: 43</span><br>
                  <span>Perfect Orders: 16</span><br>
                  <span>Scan Accuracy: 96.2%</span><br>
                  <span>Avg Scan Time: 9.2 sec</span><br>
                  <span>Last Scan Time: 8.3 sec</span>
              </div>
              <div class="col-lg-5 col-lg-5 scan-details-right">
                  <span>Recent Bonus:</span><br>
                  <span>Suggested Scans</span>
                  <span style="font-size:20px"> 889,394</span>
              </div>
          </div>
      </div>
      -->
        </div>
        <div class="col-lg-3 col-md-3 pull-right" ng-if="!general_settings.single.multi_box_shipments">
          <div class="scanpack-well">
            <div class="right-well-heading">
              <span class="col-lg-8 col-md-8">
                {{data.data.order.scanning_count.scanned}}
                Items Packed
              </span>
              <span class="col-lg-4 col-md-4 download-icon-styling">
                <img src="/assets/images/download-icon.png">
              </span>
            </div>
            <div class="row" *ngFor="let scanned_item of data.data.order.scanned_items">
              <div *ngIf="scanned_item.product_type =='single'">
                <div class="media">
                  <a class="pull-left" href="">
                    <img class="media-object" width="64px">
                    <!-- ng-src="{{scanned_item.images[0].image}}"  -->
                  </a>

                  <div class="media-body">
                    <span class="item-count pull-right">X {{scanned_item.scanned_qty}}</span>
                    <!-- tooltip="{{scanned_item.name}}" -->
                    <!-- | cut:false:90 -->
                    <span class="media-heading pack_link"
                      (click)="product_details(scanned_item.product_id)">{{ scanned_item.name  }}<br>
                      {{ scanned_item.sku }}</span>
                  </div>
                </div>
                <hr class="scanpack-hr" width="95%">
                <hr class="scanpack-hr-border" width="96.5%">
              </div>
            </div>
          </div>
        </div>


        <!-- multibox items -->
        <div class="col-lg-3 col-md-3 pull-right" ng-if="general_settings.single.multi_box_shipments">
          <div class="scanpack-well">
            <div class="right-well-heading">
              <span class="col-lg-8 col-md-8">
                <!-- {{scanned_count}} Items Packed -->
              </span>
              <span class="col-lg-4 col-md-4 download-icon-styling">
                <img src="/assets/images/download-icon.png">
              </span>
            </div>

            <div class="right-well-heading" ng-if="data.current_box" style="border-radius: 0; margin-top: 0px;">
              <span class="col-lg-2 col-md-2" ng-if="data.prev_box">
                <span class="glyphicon glyphicon-circle-arrow-left" (click)="prev_next_box('prev')"></span>
              </span>

              <span class="col-lg-8 col-md-8">
                <!-- {{data.current_box.name}} -->
              </span>

              <span class="col-lg-2 col-md-2" ng-if="data.next_box">
                <span class="glyphicon glyphicon-circle-arrow-right" (click)="prev_next_box('next')"></span>
              </span>

              <span class="col-lg-2 col-md-2" ng-if="!data.next_box && !data.box_is_empty">
                <span class="glyphicon glyphicon-plus-sign" (click)="create_box()"></span>
              </span>
            </div>

            <!-- with order item boxes -->

            <div class="row" *ngFor="let scanned_item of data.data.order.scanned_items"
              ng-mouseover="show_hide_remove_btn('show',scanned_item.order_item_id)"
              ng-mouseleave="show_hide_remove_btn('hide',scanned_item.order_item_id)"
              ng-if="scanned_item.product_type =='single'" style="position: relative;">

              <!-- | filter: { order_item_id: scanned_item.order_item_id, box_id: data.current_box.id, kit_id: scanned_item.kit_product_id} -->
              <div
                *ngFor="let box_item of data.data.order.order_item_boxes ">

                <span (click)="remove_from_box(scanned_item.order_item_id, scanned_item.kit_product_id)"
                  id="remove_{{scanned_item.order_item_id}}"
                  style="height: 40px; position: absolute; top: 20%; cursor:pointer;">
                  <span class="glyphicon glyphicon-minus-sign" style="color: red; margin-top: 10px;"></span>
                </span>

                <div class="media" style="margin-left: 20px;">
                  <a class="pull-left" href="">
                    <img class="media-object" width="64px">
                    <!-- ng-src="{{scanned_item.images[0].image}}" -->
                  </a>

                  <div class="media-body">
                    <!-- tooltip="{{scanned_item.name}}" -->
                    <!-- | cut:false:90  -->
                    <span class="item-count pull-right">X {{box_item.item_qty}}</span>
                    <span class="media-heading pack_link"
                      (click)="product_details(scanned_item.product_id)">{{ scanned_item.name }}<br>
                      {{ scanned_item.sku }}</span>
                  </div>
                </div>
                <hr class="scanpack-hr" width="95%">
                <hr class="scanpack-hr-border" width="96.5%">

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <!--
<div class="row">

<div class="time time-display">
<span>00:35:27</span>
</div>
<div class="progress-meter">
<img src="/assets/images/progress_bar.png" height="23px" width="89%"
        >
</div>

<div class="scan-timer pull-right">
<img src="/assets/images/scan-time.png" height="89px" width="103px">
</div>
</div>
<div class="row">
<div class="scan-time pull-right">
<span>2</span>
</div>
</div>

-->