<div class="container-fluid form-horizontal">
  <div class="row">
    <div class="col-md-6">
      <legend>Basic User Info</legend>
      <div class="form-group row">
        <label class="control-label col-md-4">Username *</label>

        <div class="controls col-md-7">
          <input type="search" class="form-control input-style" name="username" (blur)="update_single_user()"
            [(ngModel)]="users.single.username" type="text" value="" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-4">Password Recovery Email *</label>

        <div class="controls col-md-7">
          <input class="form-control input-style" name="email" (blur)="update_single_user()"
            [(ngModel)]="users.single.email" type="text" value="" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-4">Password *</label>

        <div class="controls col-md-7" *ngIf="show_password">
          <input class="form-control input-style" ng-minlength="6" name="password" (blur)="update_single_user()"
            [(ngModel)]="users.single.password" type="password" required/>
        </div>
        <div class="controls col-md-7" ng-hide="show_password">
          <a href="" (click)='change_password()'> Change Password</a>
        </div>
      </div>

      <div class="form-group row" *ngIf="show_password">
        <label class="control-label col-md-4">Confirm Password *</label>

        <div class="controls col-md-7">
          <input class="form-control input-style" ng-minlength="6" name="conf_password" (blur)="update_single_user()"
            [(ngModel)]="users.single.conf_password" type="password" required/>
        </div>
      </div>
      <div *ngIf="show_password" class="col-md-9 col-md-offset-2 password-label">Please choose a password with at
        least 6 characters.
      </div>
      <div class="form-group row">
        <label class="control-label col-md-4">Confirmation Code *</label>

        <div class="controls col-md-7">
          <input class="form-control input-style" name="confirmation_code" (blur)="update_single_user()"
            [(ngModel)]="users.single.confirmation_code" type="text"/>
        </div>
        <div class="info col-sm-1">
          <a *ngIf="users.single.id != null" (click)="print_confirmation_code_pdf(users.single.id)"
             target="_blank" class="generate_pdf"><i class="icon-large glyphicon glyphicon-print"></i></a>&nbsp;
          <!-- <i class="icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
             groov-popover="{{translations.tooltips.conf_code}}"></i> -->
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-4">First Name</label>

        <div class="controls col-md-7">
          <input class="form-control input-style" name="name" (blur)="update_single_user()"
            [(ngModel)]="users.single.name" type="text"/>
        </div>
        <div class="info col-sm-1">
          <!-- <i class="icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
             groov-popover="{{translations.tooltips.name}}"></i> -->
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-4">Last Name</label>

        <div class="controls col-md-7">
          <input class="form-control input-style" name="last_name" (blur)="update_single_user()"
            [(ngModel)]="users.single.last_name" type="text"/>
        </div>
      </div>

      <!-- custom fields -->
      <div class="form-group row" *ngIf="general_settings.single.custom_user_field_one">
        <label class="control-label col-md-4">
          fdf
          <!-- {{general_settings.single.custom_user_field_one}} -->
        </label>

        <div class="controls col-md-7">
          <input class="form-control input-style" name="custom_field_one" (blur)="update_custom_fields_onchange()"
            [(ngModel)]="users.single.custom_field_one" ng-keyup="auto_complete($event, 'custom_user_field_one')" type="text"/>
        </div>
        <div class="info col-sm-1">
          <!-- <i class="icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
             groov-popover="{{translations.tooltips.custom_fields}}"></i> -->
        </div>
      </div>

      <div class="form-group row" *ngIf="ready_for_auto_complete && custom_user_field_one_auto_complete_data" style="margin-bottom: 0px">
        <ul class="col-sm-offset-4 col-sm-7 auto_complete_menu">
          <li ng-repeat="item in custom_user_field_one_auto_complete_data" (click)="users.single.custom_field_one = item; clear_auto_complete('custom_user_field_one')">
            <!-- {{item}} -->
          </li>
        </ul>
      </div>

      <div class="form-group row" *ngIf="general_settings.single.custom_user_field_two">
        <label class="control-label col-md-4">
          <!-- {{general_settings.single.custom_user_field_two}} -->
        </label>

        <div class="controls col-md-7">
          <input class="form-control input-style" name="custom_field_two" (blur)="update_custom_fields_onchange()"
            [(ngModel)]="users.single.custom_field_two" ng-keyup="auto_complete($event, 'custom_user_field_two')" type="text"/>
        </div>
      </div>

      <div class="form-group row" *ngIf="ready_for_auto_complete && custom_user_field_two_auto_complete_data" style="margin-bottom: 0px">
        <ul class="col-sm-offset-4 col-sm-7 auto_complete_menu">
          <li ng-repeat="item in custom_user_field_two_auto_complete_data" (click)="users.single.custom_field_two = item; clear_auto_complete('custom_user_field_two')">
            <!-- {{item}} -->
          </li>
        </ul>
      </div>


      <div class="form-group row">
        <label class="control-label col-md-4">Other</label>

        <div class="controls col-md-7">
          <input class="form-control input-style" name="other1" (blur)="update_single_user()"
            [(ngModel)]="users.single.other" type="text"/>
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-4">Active</label>
        <div class="controls col-md-2">
          <div class="row toggle-switch">
            <span placeholder="onLabel"></span>
            <label class="switch">
              <input class="switchon" type="checkbox"
              name="users.single.active"
              [(ngModel)]="users.single.active"
              (change)="update_single_user()">
              <span class="slider round"></span>
            </label>
            <span placeholder="offLabel"></span>
          </div>
          <!-- <div toggle-switch [(ngModel)]="users.single.active" groov-click="update_single_user()"></div> -->
        </div>
      </div>

      <div *ngIf="general_settings.single.groovelytic_stat == true" >
        <div class="form-group" *ngIf="users.single.current_user.name == 'gpadmin' || $root.current_user_data.role.name == 'Super Admin' || $root.current_user_data.dashboard_switch">
        <label class="control-label col-md-4">View Dashboard</label>
        <div class="controls col-md-7">
          <select class="form-control input-style" [(ngModel)]="users.single.view_dashboard" (change)="update_single_user()">
            <!-- <option ng-repeat="x in dashboard_options" value="{{x.value}}" ng-selected="x.value == users.single.view_dashboard">{{x.name}}</option> -->
          </select>
        </div>
        </div>
      </div>  

    </div>
    <div class="col-md-6">
      <legend>Apply and Manage Roles</legend>
      <div class="form-group row">
        <label class="control-label col-md-1">Role</label>
        <div class="controls col-md-7">
          <select class="form-control input-style" [(ngModel)]="roles_data.selectedRole"
            (change)="$event.target.value != 'null' && set_selected_role($event)">
            <option value=null>Custom</option>
            <option *ngFor="let role of users.roles" [ngValue]="role">{{role.name}}</option>
          </select>
        </div>
        <!-- ng-options="role.name for role in users.roles" -->
        <div class="info col-sm-1">
          <!-- <i class="icon-large mini-popover glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
             groov-popover="{{translations.tooltips.role}}"></i> -->
        </div>
      </div>
      <div *ngIf="roles_data.selectedRole == 'null'" class="form-group">
        <label class="control-label col-md-2">Select Base Role to customize</label>

        <div class="controls col-md-7 col-md-4">
          <table class="well table-well table table-striped table-hover table-roles">
            <tr *ngFor="let role of users.roles" (click)="set_base_role(role)">
              <td>
                {{role.name}}
              </td>
            </tr>
          </table>
        </div>
        <div class="info col-sm-1">
          <!-- <i class="icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
             groov-popover="{{translations.tooltips.base_role}}"></i> -->
        </div>
      </div>
      <div *ngIf="!roles_data.showSelectBaseRole && roles_data.selectedRole == 'null'" class="form-group">
        <label class="control-label col-md-4">Save new Role</label>

        <div class="controls col-md-5">
          <input class="form-control input-style" type="text" [(ngModel)]="users.single.role.new_name"
            placeholder="Role name"/>
        </div>
        <div class="col-md-2">
          <button class="modal-save-button" (click)="make_new_role()">Save</button>
        </div>
      </div>

      <div
        *ngIf="!roles_data.showSelectBaseRole && roles_data.selectedRole != 'null' && users.single.role.custom && users.single.role.display"
        class="form-group">
        <label class="control-label col-md-4">Delete current Role</label>

        <div class="controls col-md-7">
          <button class="modal-remove-button" (click)="delete_role()">Delete</button>
        </div>
      </div>
      <div class="col-md-12">
        <legend>Section access</legend>

        <div class="form-group row">
          <label class="control-label col-md-3">Settings</label>

          <div class="controls col-md-2">
            <input name="access_settings" [(ngModel)]="users.single.role.access_settings"
                  ng-disabled="roles_data.selectedRole!=null || roles_data.showSelectBaseRole==true"
                  (change)="update_single_user()" type="checkbox" checked/>
          </div>
          <div class="info col-sm-1">
            <!-- <i class="icon-large glyphicon glyphicon-info-sign" popover-trigger="mouseenter"
               groov-popover="{{translations.tooltips.section_access}}"></i> -->
          </div>
        </div>

        <div class="form-group row">
          <label class="control-label col-md-3">Scan &amp; Pack</label>

          <div class="controls col-md-2">
            <input name="access_scanpack" [(ngModel)]="users.single.role.access_scanpack" (change)="update_single_user()"
                   type="checkbox" disabled/>
          </div>
        </div>

        <div class="form-group row">
          <label class="control-label col-md-3">Orders</label>

          <div class="controls col-md-2">
            <input name="access_orders" [(ngModel)]="users.single.role.access_orders"
                  ng-disabled="roles_data.selectedRole!=null || roles_data.showSelectBaseRole==true"
                  (change)="update_single_user()" type="checkbox" checked/>
          </div>
        </div>
        <div class="form-group row">
          <label class="control-label col-md-3">Products</label>

          <div class="controls col-md-2">
            <input name="access_products" [(ngModel)]="users.single.role.access_products"
                  ng-disabled="roles_data.selectedRole!=null || roles_data.showSelectBaseRole==true"
                  (change)="update_single_user()" type="checkbox" checked/>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
