<div class="container-fluid">
    <div class="row" ng-show="orders.single.unacknowledged_activities.length > 0">
      <div class="col-sm-12">
        <fieldset>
          <h4>There have been changes to the order. Kindly acknowledge the activity if the change is expected or contact
            your administrator</h4>
            <span ng-repeat="activity in orders.single.unacknowledged_activities">
                <div class="form-group alert alert-acknowledge" ng-show="activity.activity_type=='deleted_item'">
                  <div class="pull-right">
                    <button class="btn btn-info btn-xs"
                      (click)="acknowledge_activity(activity.id)">Acknowledge
                    </button>
                  </div>
                  <!-- <h5>{{ activity.activitytime | date:'EEEE MM/dd/yyyy hh:mm:ss a'}}</h5>
                  {{ activity.action}} - by: {{ activity.username }} -->
                </div>
            </span>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-group pull-right">
          <button class="modal-save-button"
            ng-show="orders.single.add_items_permitted"
            (click)="item_order(itemModal)"
            ng-hide="orders.single.basicinfo.status == 'scanned'">
            Add Item
          </button>
          <!-- ,'order',item_products.list -->
          <button class="modal-remove-button"
            ng-show="orders.single.remove_items_permitted"
            (click)="item_remove_selected()"
            ng-hide="orders.single.basicinfo.status == 'scanned'">
            Remove selected Items
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-data-grid [itemOrderData]="selectedItems"></app-data-grid>
      </div>
    </div>
    <!-- <hr/> -->
    <ng-template #itemModal let-c="close" let-d="dismiss">
      <div class="modal-body col-lg-12">
        <app-add-item [orderItems]="orderItems"></app-add-item>
      </div>
      <div class="modal-footer">
        <button (click)="closeModal()"><span class="fa fa-close"></span></button>
      </div>
    </ng-template>
  </div>
  